# Python ABC By Anwaar
## BS: DATA SCIENCE STUDENT

In [1]:
import sys
import keyword
import operator
from datetime import datetime
import os

# Keywords

Keywords are the reserved words in Python and can't be used as an identifier

In [2]:
print(keyword.kwlist) # List all Python Keywords

['False', 'None', 'True', '__peg_parser__', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [3]:
len(keyword.kwlist) # Python contains 36 keywords

36

# Identifiers

An identifier is a name given to entities like class, functions, variables, etc. It helps to differentiate
one entity from another.

In [4]:
1var = 10 # 1<- can not start with a digit
val2@ = 35 # 2<- Identifier can't use special symbols
import = 125 # 3<- Keywords can't be used as identifiers

"""
4<- Correct way of defining an identifier 
(Identifiers can be a combination of letters in lowercase (a to z) or uppercase)
 """
val2 = 10 

print(1var) # False
print(val2@) # False
print(import) # False
print(val2) # False

SyntaxError: invalid syntax (Temp/ipykernel_15436/3190973390.py, line 1)

In [121]:
val_ = 99 #True
val_

99

# Comments in Python

Comments can be used to explain the code for more readabilty.

In [122]:
# 1<- Single line comment
val1  = 10

# 2<- Multiple 
# line 
# comment
val1  = 10

"""
3<- Multiple 
line 
comment
 """
val1  = 10

# Statements

Instructions that a Python interpreter can execute

In [123]:
# 1<- Single line statement
p1 = 10 + 20
print(p1)


# 2<- Single line statement
p2 = ['a' , 'b' , 'c' , 'd']
print(p2)


# 3<- Multiple line statement
p3 = 20 + 30 \
 + 40 + 50 +\
 + 70 + 80
print(p3)


# 4<- Multiple line statement
p4 = ['a' , 
      'b' , 
      'c' , 
      'd' 
     ]
print(p4)

30
['a', 'b', 'c', 'd']
290
['a', 'b', 'c', 'd']

# Indentation

Indentation refers to the spaces at the beginning of a code line. It is very important as Python uses
indentation to indicate a block of code.If the indentation is not correct we will endup with
IndentationError error.

In [124]:
p = 10
if p == 10:
    print ('P is equal to 10') # 1<- correct indentation
    
    
    
for i in range(0,5):
    print(i)                   # 2<- correct indentation 
    
    
    
for i in range(0,5): print(i)  # 3<- correct indentation but less readable
    
    
j=20
for i in range(0,5):          # 4<- Correct
    print(i) # inside the for loop
print(j) # outside the for loop

P is equal to 10
0
1
2
3
4
0
1
2
3
4
0
1
2
3
4
20

In [125]:
# 1<- if indentation is skipped we will encounter "IndentationError: expected an inde
p = 10
if p == 10:
print ('P is equal to 10')



# 2<- if indentation is skipped we will encounter "IndentationError: expected an Indentation
for i in range(0,5):
print(i)

IndentationError: expected an indented block (Temp/ipykernel_15436/570140928.py, line 4)

# Docstrings

1) Docstrings provide a convenient way of associating documentation with functions, classes,
 methods or modules.

2) They appear right after the definition of a function, method, class, or module.

In [126]:
def square(num):
    '''Square Function :- This function will return the square of a number'''
    return num**2
square(2)

4

In [127]:
square.__doc__

'Square Function :- This function will return the square of a number'

In [128]:
def evenodd(num):  
    '''evenodd Function :- This function will test whether a numbr is Even or Odd'''
    if num % 2 == 0:
        print("Even Number")
    else:
        print("Odd Number")

In [129]:
#-: 1
evenodd(3) 
#-: 2
evenodd(2)
#-: 3
evenodd.__doc__

Odd Number
Even Number

'evenodd Function :- This function will test whether a numbr is Even or Odd'

# Variables

A Python variable is a reserved memory location to store values.A variable is created the moment
you first assign a value to it.

In [130]:
p = 30

In [131]:
'''
 id() function returns the “identity” of the object. 
The identity of an object - Is an integer
                          - Guaranteed to be unique
                          - Constant for this object during its lifetime. 
'''
id(p)

2369135209680

In [132]:
hex(id(p)) # Memory address of the variable

'0x2279b766cd0'

In [133]:
p = 20  #Creates an integer object with value 20 and assigns the variable p to po
q = 20  # Create new reference q which will point to value 20. p & q will be poin
r = q  # variable r will also point to the same location where p & q are pointing
p , type(p), hex(id(p)) # Variable P is pointing to memory location '0x7fff6d71a3

(20, int, '0x2279b766b90')

In [134]:
q , type(q), hex(id(q))

(20, int, '0x2279b766b90')

In [135]:
r , type(r), hex(id(r))

(20, int, '0x2279b766b90')

In [136]:
p = 20
p = p + 10 # Variable Overwriting
p

30

# Variable Assigment

In [137]:
intvar = 10 # Integer variable
floatvar = 2.57 # Float Variable
strvar = "Python Language" # String variable
print(intvar)
print(floatvar)
print(strvar)

10
2.57
Python Language

# Multiple Assignments

In [138]:
intvar , floatvar , strvar = 10,2.57,"Python Language" # Using commas to separate
print(intvar)
print(floatvar)
print(strvar)

10
2.57
Python Language

In [139]:
p1 = p2 = p3 = p4 = 44 # All variables pointing to same value
print(p1,p2,p3,p4)

44 44 44 44

# Data Types

## Numeric

In [140]:
val1 = 10  #-: 1<- Integer data type
print(val1)
print(type(val1)) #type of object
print(sys.getsizeof(val1)) # size of integer object in bytes 
print(val1, " is Integer?", isinstance(val1, int)) # val1 is an instance of int


val2 = 92.78 #-: 2<- Float data type
print(val2)
print(type(val2)) # type of object
print(sys.getsizeof(val2)) # size of float object in bytes
print(val2, " is float?", isinstance(val2, float)) # Val2 is an instance of float


val3 = 25 + 10j #-: 3<- Complex data type
print(val3)
print(type(val3)) # type of object
print(sys.getsizeof(val3)) # size of float object in bytes
print(val3, " is complex?", isinstance(val3, complex)) # val3 is an instance of complex

10
<class 'int'>
28
10  is Integer? True
92.78
<class 'float'>
24
92.78  is float? True
(25+10j)
<class 'complex'>
32
(25+10j)  is complex? True

In [141]:
sys.getsizeof(int()) # size of integer object in bytes

24

In [142]:
sys.getsizeof(float())  # size of float object in bytes

24

In [143]:
sys.getsizeof(complex()) # size of complex object in bytes

32

# Boolean

Boolean data type can have only two possible values true or false.

In [144]:
bool1 = True

In [145]:
bool2 = False

In [146]:
print(type(bool1))

<class 'bool'>

In [147]:
print(type(bool2))

<class 'bool'>

In [148]:
isinstance(bool1, bool)

True

In [149]:
bool(0)

False

In [150]:
bool(1)

True

In [151]:
bool(None)

False

In [152]:
bool (False)

False

# Strings

## String Creation

In [153]:
str1 = "HELLO PYTHON"
print(str1)

mystr = 'Hello World' # Define string using single quotes
print(mystr)

mystr1 = "Hello World"# Define string using double quotes
print(mystr1)

mystr = '''Hello               
            World ''' # Define string using triple quotes
print(mystr)

mystr = """Hello
           World"""   # Define string using triple quotes
print(mystr)

HELLO PYTHON
Hello World
Hello World
Hello
            World
Hello
           World

In [154]:
mystr = ('Happy '
         'Monday '
         'Everyone')
print(mystr)

Happy Monday Everyone

In [155]:
mystr2 = 'Woohoo '
mystr2 = mystr2*5
mystr2

'Woohoo Woohoo Woohoo Woohoo Woohoo '

In [156]:
len(mystr2) # Length of string

35

# String Indexing

In [157]:
str1

'HELLO PYTHON'

In [158]:
str1[0] # First character in string "str1"

'H'

In [159]:
str1[len(str1)-1] # Last character in string using len function

'N'

In [160]:
str1[-1] # Last character in string

'N'

In [161]:
str1[-1] # Last character in string

'N'

In [162]:
str1[6] #Fetch 7th element of the string

'P'

In [163]:
str1[5]

' '

# String Slicing

In [164]:
str1[0:5] # String slicing - Fetch all characters from 0 to 5 index location excl

'HELLO'

In [165]:
str1[6:12] # String slicing - Retreive all characters between 6 - 12 index loc excl

'PYTHON'

In [166]:
str1[-4:] # Retreive last four characters of the string

'THON'

In [167]:
str1[-6:] # Retreive last six characters of the string

'PYTHON'

In [168]:
str1[:4] # Retreive first four characters of the string

'HELL'

In [169]:
str1[:6] # Retreive first six characters of the string

'HELLO '

# Update & Delete String

In [170]:
str1

'HELLO PYTHON'

In [525]:
#Strings are immutable which means elements of a string cannot be changed
str1[0:5] = 'HOLAA'

TypeError: 'str' object does not support item assignment

In [172]:
del str1 # Delete a string
    print(srt1)

IndentationError: unexpected indent (Temp/ipykernel_15436/3026763216.py, line 2)

# String concatenation

In [173]:
# String concatenation
s1 = "Hello"
s2 = "Anwaar"
s3 = s1 + s2
print(s3)

# String concatenation
s1 = "Hello"
s2 = "Anwaar"
s3 = s1 + " " + s2
print(s3)

HelloAnwaar
Hello Anwaar

# Iterating through a String

In [174]:
mystr1 = "Hello Everyone"

In [175]:
# Iteration  
for i in mystr1:
    print(i)

H
e
l
l
o

E
v
e
r
y
o
n
e

In [176]:
for i in enumerate(mystr1):
    print(i)

(0, 'H')
(1, 'e')
(2, 'l')
(3, 'l')
(4, 'o')
(5, ' ')
(6, 'E')
(7, 'v')
(8, 'e')
(9, 'r')
(10, 'y')
(11, 'o')
(12, 'n')
(13, 'e')

In [177]:
list(enumerate(mystr1))

[(0, 'H'),
 (1, 'e'),
 (2, 'l'),
 (3, 'l'),
 (4, 'o'),
 (5, ' '),
 (6, 'E'),
 (7, 'v'),
 (8, 'e'),
 (9, 'r'),
 (10, 'y'),
 (11, 'o'),
 (12, 'n'),
 (13, 'e')]

# String Membership

In [178]:
 # String membership
mystr1 = "Hello Everyone"
print ('Hello' in mystr1) # Check whether substring "Hello" is present in string 
print ('Everyone' in mystr1) # Check whether substring "Everyone" is present in string
print ('Hi' in mystr1) # Check whether substring "Hi" is present in string "mystring

True
True
False

# String Partitioning

In [179]:
 """
 The partition() method searches for a specified string and splits the string into
 - The first element contains the part before the argument string.
 - The second element contains the argument string.
 - The third element contains the part after the argument string.
 """
 str5 = "Natural language processing with Python and R and Java"
 L = str5.partition("and") 
print(L)

('Natural language processing with Python ', 'and', ' R and Java')

In [180]:
 """
 The rpartition() method searches for the last occurence of the specified string a
 containing three elements.
 - The first element contains the part before the argument string.
 - The second element contains the argument string.
 - The third element contains the part after the argument string.
 """
str5 = "Natural language processing with Python and R and Java"
L = str5.rpartition("and") 
print(L)

('Natural language processing with Python and R ', 'and', ' Java')

# String Functions

In [181]:
mystr2 = "   Hello Everyone  "
mystr2

'   Hello Everyone  '

In [182]:
mystr2.strip() # Removes white space from begining & end

'Hello Everyone'

In [183]:
mystr2.rstrip() # Removes all whitespaces at the end of the string

'   Hello Everyone'

In [184]:
mystr2.lstrip() # Removes all whitespaces at the begining of the string

'Hello Everyone  '

In [185]:
mystr2 = "*********Hello Everyone***********All the Best**********"
mystr2

'*********Hello Everyone***********All the Best**********'

In [186]:
mystr2.strip('*') # Removes all '*' characters from begining & end of the string

'Hello Everyone***********All the Best'

In [187]:
mystr2.rstrip('*') # Removes all '*' characters at the end of the string

'*********Hello Everyone***********All the Best'

In [188]:
mystr2.lstrip('*') # Removes all '*' characters at the begining of the string

'Hello Everyone***********All the Best**********'

In [189]:
mystr2 = "   Hello Everyone  "

In [190]:
mystr2.lower() # Return whole string in lowercase

'   hello everyone  '

In [191]:
mystr2.upper() # Return whole string in uppercase

'   HELLO EVERYONE  '

In [192]:
mystr2.replace("He" , "Ho") #Replace substring "He" with "Ho"

'   Hollo Everyone  '

In [193]:
mystr2.replace(" " , "") # Remove all whitespaces using replace function

'HelloEveryone'

In [194]:
mystr5 = "one two Three one two two three"

In [195]:
mystr5.count("one") # Number of times substring "one" occurred in string.

2

In [196]:
mystr5.count("two") # Number of times substring "two" occurred in string.

3

In [197]:
mystr5.startswith("one")  # Return boolean value True if string starts with "one"

True

In [198]:
mystr5.endswith("three") # Return boolean value True if string ends with "three"

True

In [199]:
mystr4 = "one two three four one two two three five five six seven six seven one"

In [200]:
mylist = mystr4.split() # Split String into substrings
mylist

['one',
 'two',
 'three',
 'four',
 'one',
 'two',
 'two',
 'three',
 'five',
 'five',
 'six',
 'seven',
 'six',
 'seven',
 'one']

In [201]:
#:- 1<- Combining string & numbers using format method
item1 = 40
item2 = 55
item3 = 77
res = "Cost of item1 , item2 and item3 are {} , {} and {}"
print(res.format(item1,item2,item3))


#:- 2<- Combining string & numbers using format method
item1 = 40
item2 = 55
item3 = 77
res = "Cost of item3 , item2 and item1 are {2} , {1} and {0}"
print(res.format(item1,item2,item3))

Cost of item1 , item2 and item3 are 40 , 55 and 77
Cost of item3 , item2 and item1 are 77 , 55 and 40

In [202]:
str2 = " WELCOME EVERYONE "
str2 = str2.center(100) #:- 1<- center align the string using a specific character
print(str2)

str2 = " WELCOME EVERYONE "
str2 = str2.center(100,'*') #:- 2<- center align the string using a specific character 
print(str2)

str2 = " WELCOME EVERYONE "
str2 = str2.rjust(50) #:- 3<- Right align the string using a specific character as the 
print(str2)

str2 = " WELCOME EVERYONE "
str2 = str2.rjust(50,'*') #:- 4<- Right align the string using a specific character ('*')
print(str2)

str4 = "one two three four five six seven"
loc = str4.find("five") #:- 5<- Find the location of word 'five' in the string "str4"
print(loc)

str4 = "one two three four five six seven"
loc = str4.index("five") #:- 6<- Find the location of word 'five' in the string "str4"
print(loc)

mystr6 = '123456789'   #:- 7
print(mystr6.isalpha()) # returns True if all the characters in the text are letter
print(mystr6.isalnum())  # returns True if a string contains only letters or number
print(mystr6.isdecimal()) # returns True if all the characters are decimals (0-9)
print(mystr6.isnumeric()) # returns True if all the characters are numeric (0-9)

                                          WELCOME EVERYONE
***************************************** WELCOME EVERYONE *****************************************
                                 WELCOME EVERYONE
******************************** WELCOME EVERYONE
19
19
False
True
True
True

In [203]:
mystr6 = 'abcde' #:- 1
print(mystr6.isalpha()) # returns True if all the characters in the text are letter
print(mystr6.isalnum())  # returns True if a string contains only letters or number
print(mystr6.isdecimal()) # returns True if all the characters are decimals (0-9)
print(mystr6.isnumeric()) # returns True if all the characters are numeric (0-9)

mystr6 = 'abc12309' #:- 2
print(mystr6.isalpha()) # returns True if all the characters in the text are letter
print(mystr6.isalnum())  # returns True if a string contains only letters or number
print(mystr6.isdecimal()) # returns True if all the characters are decimals (0-9)
print(mystr6.isnumeric()) # returns True if all the characters are numeric (0-9)

mystr7 = 'ABCDEF' #:- 3
print(mystr7.isupper())  # Returns True if all the characters are in upper case
print(mystr7.islower())  # Returns True if all the characters are in lower case

mystr8 = 'abcdef' #:- 4
print(mystr8.isupper())  # Returns True if all the characters are in upper case
print(mystr8.islower())  # Returns True if all the characters are in lower case

                #:- 5
str6 = "one two three four one two two three five five six one ten eight ten nine"
loc = str6.rfind("one") # last occurrence of word 'one' in string "str6"
print(loc)

                #:- 6
loc = str6.rindex("one") # last occurrence of word 'one' in string "str6"
print(loc)

True
True
False
False
False
True
False
False
True
False
False
True
51
51

In [204]:
txt = "   abc def ghi   "
txt.rstrip()

'   abc def ghi'

In [205]:
txt = "   abc def ghi   "
txt.lstrip()

'abc def ghi   '

In [206]:
txt = "   abc def ghi   "
txt.strip()

'abc def ghi'

# Using Escape Character

In [207]:
 #Using double quotes in the string is not allowed.
mystr = "My favourite TV Series is "Game of Thrones""

SyntaxError: invalid syntax (Temp/ipykernel_15436/1699682803.py, line 2)

In [208]:
#Using escape character to allow illegal characters
mystr = "My favourite series is \"Game of Thrones\""
print(mystr)

My favourite series is "Game of Thrones"

# List

1) List is an ordered sequence of items.

2) We can have different data types under a list. E.g we can have integer, float and string items in
 a same list.

# List Creation

In [209]:
list1 = []   # Empty List

In [210]:
print(type(list1))

<class 'list'>

In [211]:
list2 = [10,30,60]  # List of integers numbers

print(len(list2)) #Length of list
print( list2[0])# Retreive first element of the list
print(list2[-1])  # Last item of the list

3
10
60

In [212]:
list3 = [10.77,30.66,60.89]  # List of float numbers

print(len(list3)) #Length of list
print( list3[0])# Retreive first element of the list
print(list3[-1])  # Last item of the list

3
10.77
60.89

In [213]:
list4 = ['one','two' , "three"]   # List of strings

print(len(list4)) #Length of list
print( list4[0])# Retreive first element of the list
print(list4[0][0]) # Nested indexing - Access the first character of the first list element
list4[-1]  # Last item of the list

3
one
o

'three'

In [214]:
list5 = ['Anwaar', 25 ,[50, 100],[150, 90]] # Nested Lists

print(len(list5)) #Length of list
print( list5[0])# Retreive first element of the list
print(list5[-1])  # Last item of the list

4
Anwaar
[150, 90]

In [215]:
list6 = [100, 'Anwaar', 17.765] # List of mixed data types

print(len(list6)) #Length of list
print( list6[0])# Retreive first element of the list
print(list6[-1])  # Last item of the list

3
100
17.765

In [216]:
list7 = ['Anwaar', 25 ,[50, 100],[150, 90] , {'John' , 'David'}]

print(len(list7)) #Length of list
print( list7[0])# Retreive first element of the list
print(list7[-1])  # Last item of the list

5
Anwaar
{'John', 'David'}

# List Slicing

In [217]:
mylist = ['one' , 'two' , 'three' , 'four' , 'five' , 'six' , 'seven' , 'eight']

print(mylist[0:3]) # Return all items from 0th to 3rd index location excluding the items
print(mylist[2:5]) # List all items from 2nd to 5th index location excluding the items
print(mylist[:3])  # Return first three items
print(mylist[:2])  # Return first two items
print(mylist[-3:]) # Return last three items
print(mylist[-2:]) # Return last two items
print(mylist[-1])  # Return last item of the list
print(mylist[:])   # Return whole list

['one', 'two', 'three']
['three', 'four', 'five']
['one', 'two', 'three']
['one', 'two']
['six', 'seven', 'eight']
['seven', 'eight']
eight
['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

# Add , Remove & Change Items

In [218]:
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [219]:
mylist.append('nine') # 1<- Add an item to the end of the list  
print(mylist)

mylist.insert(9,'ten') # 2<- Add item at index location 9
print(mylist)

mylist.insert(1,'ONE') # 3<- Add item at index location 1
print(mylist)


mylist.remove('ONE') # 4<- Remove item "ONE"
print(mylist)

mylist.pop()        # 5<- Remove last item of the list
print(mylist)

mylist.pop(8)       # 6<- Remove item at index location 8
print(mylist)


del mylist[7]       # 7<- Remove item at index location 7
print(mylist)


                    # 8<- Change value of the string
mylist[0] = 1
mylist[1] = 2
mylist[2] = 3
print(mylist)


mylist.clear()     # 9<- Empty List / Delete all items in the list
print(mylist)

del mylist         # 10<- Delete the whole list
print(mylist) # False

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']
['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']
['one', 'ONE', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']
['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']
['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']
['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']
['one', 'two', 'three', 'four', 'five', 'six', 'seven']
[1, 2, 3, 'four', 'five', 'six', 'seven']
[]

NameError: name 'mylist' is not defined

# Copy List

In [220]:
mylist = ['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']
mylist1 = mylist # Create a new reference "mylist1"     
id(mylist) , id(mylist1) # The address of both mylist & mylist1 will be the same

(2369217633472, 2369217633472)

In [221]:
mylist2 = mylist.copy() # Create a copy of the list
id(mylist2) # The address of mylist2 will be different from mylist because mylist

2369217640704

In [222]:
mylist[0] = 1
mylist

[1, 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

In [223]:
mylist1 # mylist1 will be also impacted as it is pointing to the same list

[1, 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

In [224]:
mylist2 # Copy of list won't be impacted due to changes made on the original list

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

# Join Lists

In [225]:
list1 = ['one', 'two', 'three', 'four']
list2 = ['five', 'six', 'seven', 'eight']

list3 = list1 + list2 # Join two lists by '+' operator
list3

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [226]:
list1.extend(list2) #Append list2 with list1
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

# List Membership

In [227]:
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [228]:
'one' in list1 # Check if 'one' exist in the list

True

In [229]:
'ten' in list1 # Check if 'ten' exist in the list

False

In [230]:
if 'three' in list1: # Check if 'three' exist in the list
    print('Three is present in the list')
else:
    print('Three is not present in the list')
    
if 'eleven' in list1:  # Check if 'eleven' exist in the list
    print('eleven is present in the list')
else:
    print('eleven is not present in the list')

Three is present in the list
eleven is not present in the list

# Reverse & Sort List

In [231]:
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [232]:
list1.reverse() # Reverse the list
list1

['eight', 'seven', 'six', 'five', 'four', 'three', 'two', 'one']

In [233]:
list1 = list1[::-1] # Reverse the list
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [234]:
mylist3 = [9,5,2,99,12,88,34]
mylist3.sort()   
# Sort list in ascending order
print(mylist3)

mylist3 = [9,5,2,99,12,88,34]
mylist3.sort(reverse=True)  # Sort list in descending order
print(mylist3)


mylist4 = [88,65,33,21,11,98]
print(sorted(mylist4))  # Returns a new sorted list and doesn't change original

[2, 5, 9, 12, 34, 88, 99]
[99, 88, 34, 12, 9, 5, 2]
[11, 21, 33, 65, 88, 98]

In [235]:
mylist4

[88, 65, 33, 21, 11, 98]

# Loop through a list

In [236]:
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [237]:
for i in list1:
    print(i)

one
two
three
four
five
six
seven
eight

In [238]:
for i in enumerate(list1):
    print(i)

(0, 'one')
(1, 'two')
(2, 'three')
(3, 'four')
(4, 'five')
(5, 'six')
(6, 'seven')
(7, 'eight')

# Count

In [239]:
list10 =['one', 'two', 'three', 'four', 'one', 'one', 'two', 'three']

In [240]:
list10.count('one') # Number of times item "one" occurred in the list.

3

In [241]:
list10.count('two') # Occurence of item 'two' in the list

2

In [242]:
list10.count('four') #Occurence of item 'four' in the list

1

# All / Any

The all() method returns:

True - If all elements in a list are true

False - If any element in a list is false

The any() function returns True if any element in the list is True. If not, any() returns False.

In [243]:
L1 = [1,2,3,4,0]

In [244]:
all(L1) # Will Return false as one value is false (Value 0)

False

In [245]:
any(L1)  # Will Return True as we have items in the list with True value

True

In [246]:
L2 = [1,2,3,4,True,False]

print(all(L2)) # Returns false as one value is false

print(any(L2))  # Will Return True as we have items in the list with True value

False
True

In [247]:
L3 = [1,2,3,True]

print(all(L3)) # Will return True as all items in the list are True

print(any(L3)) # Will Return True as we have items in the list with True value

True
True

# List Comprehensions

List Comprehensions provide an elegant way to create new lists.

It consists of brackets containing an expression followed by a for clause, then zero or more for
or if clauses.

In [248]:
mystring = "WELCOME"
mylist = [ i for i in mystring ] # Iterating through a string Using List Comprehe
mylist

['W', 'E', 'L', 'C', 'O', 'M', 'E']

In [249]:
mylist1 = [ i for i in range(40) if i % 2 == 0] # Display all even numbers between
mylist1

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38]

In [250]:
mylist2 = [ i for i in range(40) if i % 2 == 1] # Display all odd numbers between
mylist2

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39]

In [251]:
mylist3 = [num**2 for num in range(10)] # calculate square of all numbers between
mylist3

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [252]:
# Multiple whole list by 10
list1 = [2,3,4,5,6,7,8]
list1 = [i*10 for i in list1]
list1

[20, 30, 40, 50, 60, 70, 80]

In [253]:
#List all numbers divisible by 3 , 9 & 12 using nested "if" with List Comprehension
mylist4 = [i for i in range(200) if i % 3 == 0 if i % 9 == 0 if i % 12 == 0]
mylist4

[0, 36, 72, 108, 144, 180]

In [254]:
# Odd even test
l1 = [print("{} is Even Number".format(i)) if i%2==0 else print("{} is odd number".format(i))]

TypeError: unsupported operand type(s) for %: 'tuple' and 'int'

In [255]:
# Extract numbers from a string
mystr = "One 1 two 2 three 3 four 4 five 5 six 6789"
numbers = [i for i in mystr if i.isdigit()]
print(numbers)


 # Extract letters from a string
mystr = "One 1 two 2 three 3 four 4 five 5 six 6789"
numbers = [i for i in mystr if i.isalpha()]
print(numbers)

['1', '2', '3', '4', '5', '6', '7', '8', '9']
['O', 'n', 'e', 't', 'w', 'o', 't', 'h', 'r', 'e', 'e', 'f', 'o', 'u', 'r', 'f', 'i', 'v', 'e', 's', 'i', 'x']

# Tuples

 1. Tuple is similar to List except that the objects in tuple are immutable which means we cannot
    change the elements of a tuple once assigned.

 2. When we do not want to change the data over time, tuple is a preferred data type.
    
 3. Iterating over the elements of a tuple is faster compared to iterating over a list.

# Tuple Creation

In [256]:
tup1 = ()   # Empty tuple

tup2 = (10,30,60) # tuple of integers numbers

tup3 = (10.77,30.66,60.89)  # tuple of float numbers

tup4 = ('one','two' , "three")  # tuple of strings

tup5 = ('anwaar', 25 ,(50, 100),(150, 90)) # Nested tuples

tup6 = (100, 'anwaar', 17.765)   # Tuple of mixed data types

tup7 = ('anwaar', 25 ,[50, 100],[150, 90] , {'John' , 'David'} , (99,22,33))

In [257]:
len(tup7) #Length of list

6

# Tuple Indexing

In [258]:
tup2[0] # Retreive first element of the tuple

10

In [259]:
tup4[0] # Retreive first element of the tuple

'one'

In [260]:
tup4[0][0] # Nested indexing - Access the first character of the first tuple element

'o'

In [261]:
tup4[-1] # Last item of the tuple

'three'

In [262]:
tup5[-1]  # Last item of the tuple

(150, 90)

# Tuple Slicing

In [263]:
mytuple = ('one' , 'two' , 'three' , 'four' , 'five' , 'six' , 'seven' , 'eight')
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [264]:
mytuple[0:3] # Return all items from 0th to 3rd index location excluding the items

('one', 'two', 'three')

In [265]:
mytuple[2:5] # List all items from 2nd to 5th index location excluding the items

('three', 'four', 'five')

In [266]:
mytuple[:3] # Return first three items

('one', 'two', 'three')

In [267]:
mytuple[:2]  # Return first two items

('one', 'two')

In [268]:
 mytuple[-3:] # Return last three items

('six', 'seven', 'eight')

In [269]:
mytuple[-2:] # Return last two items

('seven', 'eight')

In [270]:
mytuple[-1] # Return last item of the tuple

'eight'

In [271]:
mytuple[:] # Return whole tuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

# Remove & Change Items

In [272]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [273]:
del mytuple[0] # Tuples are immutable which means we can't DELETE tuple items

TypeError: 'tuple' object doesn't support item deletion

In [274]:
mytuple[0] = 1 # Tuples are immutable which means we can't CHANGE tuple items

TypeError: 'tuple' object does not support item assignment

In [275]:
del mytuple # Deleting entire tuple object is possible

# Loop through a tuple

In [276]:
mytuple

NameError: name 'mytuple' is not defined

In [277]:
for i in mytuple:
    print(i)

NameError: name 'mytuple' is not defined

In [278]:
for i in enumerate(mytuple):
    print(i)

NameError: name 'mytuple' is not defined

# Count

In [279]:
mytuple1 =('one', 'two', 'three', 'four', 'one', 'one', 'two', 'three')

In [280]:
mytuple1.count('one') # Number of times item "one" occurred in the tuple.

3

In [281]:
mytuple1.count('two') # Occurence of item 'two' in the tuple

2

In [282]:
mytuple1.count('four') #Occurence of item 'four' in the tuple

1

# Tuple Membership

In [283]:
mytuple1

('one', 'two', 'three', 'four', 'one', 'one', 'two', 'three')

In [284]:
'one' in mytuple1 # Check if 'one' exist in the list

True

In [285]:
'ten' in mytuple1 # Check if 'ten' exist in the list

False

In [286]:
if 'three' in mytuple1: # Check if 'three' exist in the list
    print('Three is present in the tuple')
else:
    print('Three is not present in the tuple')

Three is present in the tuple

In [287]:
if 'eleven' in mytuple1:  # Check if 'eleven' exist in the list
    print('eleven is present in the tuple')
else:
    print('eleven is not present in the tuple')

eleven is not present in the tuple

# Index Position

In [288]:
mytuple1

('one', 'two', 'three', 'four', 'one', 'one', 'two', 'three')

In [289]:
mytuple1.index('one') # Index of first element equal to 'one'

0

In [290]:
mytuple1.index('five') # Index of first element equal to 'five'

ValueError: tuple.index(x): x not in tuple

In [291]:
mytuple1

('one', 'two', 'three', 'four', 'one', 'one', 'two', 'three')

In [292]:
mytuple1.index('one') # Index of first element equal to 'one'

0

# Sorting

In [293]:
mytuple2 = (43,67,99,12,6,90,67)
mytuple2

(43, 67, 99, 12, 6, 90, 67)

In [294]:
sorted(mytuple2)  # Returns a new sorted list and doesn't change original tuple

[6, 12, 43, 67, 67, 90, 99]

In [295]:
sorted(mytuple2, reverse=True) # Sort in descending order

[99, 90, 67, 67, 43, 12, 6]

# Sets

 1) Unordered & Unindexed collection of items.
    
 2) Set elements are unique. Duplicate elements are not allowed.

 3) Set elements are immutable (cannot be changed).
    
 4) Set itself is mutable. We can add or remove items from it.

# Set Creation

In [296]:
myset = {1,2,3,4,5} # Set of numbers
myset

{1, 2, 3, 4, 5}

In [297]:
len(myset) #Length of the set

5

In [298]:
my_set = {1,1,2,2,3,4,5,5}
my_set              # Duplicate elements are not allowed.

{1, 2, 3, 4, 5}

In [299]:
myset1 = {1.79,2.08,3.99,4.56,5.45} # Set of float numbers
myset1

{1.79, 2.08, 3.99, 4.56, 5.45}

In [300]:
myset2 = {'Asif' , 'John' , 'Tyrion'} # Set of Strings
myset2

{'Asif', 'John', 'Tyrion'}

In [301]:
myset3 = {10,20, "Hola", (11, 22, 32)} # Mixed datatypes
myset3

{(11, 22, 32), 10, 20, 'Hola'}

In [302]:
myset3 = {10,20, "Hola", [11, 22, 32]} # set doesn't allow mutable items like list
myset3

TypeError: unhashable type: 'list'

In [303]:
myset4 = set() # Create an empty set
print(type(myset4))

<class 'set'>

In [304]:
my_set1 = set(('one' , 'two' , 'three' , 'four'))
my_set1

{'four', 'one', 'three', 'two'}

# Loop through a Set

In [305]:
myset = {'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight'}
 
for i in myset:
    print(i)

seven
eight
four
one
six
two
five
three

In [306]:
for i in enumerate(myset):
    print(i)

(0, 'seven')
(1, 'eight')
(2, 'four')
(3, 'one')
(4, 'six')
(5, 'two')
(6, 'five')
(7, 'three')

# Set Membership

In [307]:
myset

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [308]:
'one' in myset # Check if 'one' exist in the set

True

In [309]:
'ten' in myset # Check if 'ten' exist in the set

False

In [310]:
if 'three' in myset: # Check if 'three' exist in the set
    print('Three is present in the set')
else:
    print('Three is not present in the set')

Three is present in the set

In [311]:
if 'eleven' in myset:  # Check if 'eleven' exist in the list
    print('eleven is present in the set')
else:
    print('eleven is not present in the set')

eleven is not present in the set

# Add & Remove Items

In [312]:
myset

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [313]:
myset.add('NINE') # Add item to a set using add() method
myset

{'NINE', 'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [314]:
myset.update(['TEN' , 'ELEVEN' , 'TWELVE'])  # Add multiple item to a set using update
myset

{'ELEVEN',
 'NINE',
 'TEN',
 'TWELVE',
 'eight',
 'five',
 'four',
 'one',
 'seven',
 'six',
 'three',
 'two'}

In [315]:
myset.remove('NINE') # remove item in a set using remove() method
myset

{'ELEVEN',
 'TEN',
 'TWELVE',
 'eight',
 'five',
 'four',
 'one',
 'seven',
 'six',
 'three',
 'two'}

In [316]:
myset.discard('TEN') # remove item from a set using discard() method
myset

{'ELEVEN',
 'TWELVE',
 'eight',
 'five',
 'four',
 'one',
 'seven',
 'six',
 'three',
 'two'}

In [317]:
myset.clear() # Delete all items in a set
myset

set()

In [318]:
del myset # Delete the set object
myset

NameError: name 'myset' is not defined

# Copy Set

In [319]:
myset = {'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight'}
myset

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [320]:
myset1 = myset  # Create a new reference "myset1" 
myset1

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [321]:
id(myset) , id(myset1)  # The address of both myset & myset1 will be the same as

(2369217950432, 2369217950432)

In [322]:
my_set = myset.copy() # Create a copy of the list
my_set

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [323]:
id(my_set) # The address of my_set will be different from myset because my_set

2369217952448

In [324]:
myset.add('nine')
myset

{'eight', 'five', 'four', 'nine', 'one', 'seven', 'six', 'three', 'two'}

In [325]:
myset1 # myset1 will be also impacted as it is pointing to the same Set

{'eight', 'five', 'four', 'nine', 'one', 'seven', 'six', 'three', 'two'}

In [326]:
my_set # Copy of the set won't be impacted due to changes made on the original

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

# Set Operation

## Union

In [327]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}
C = {8,9,10}

In [328]:
A | B  # Union of A and B (All elements from both sets. NO DUPLICATES)

{1, 2, 3, 4, 5, 6, 7, 8}

In [329]:
A.union(B) # Union of A and B

{1, 2, 3, 4, 5, 6, 7, 8}

In [330]:
A.union(B, C)  # Union of A, B and C.

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [331]:
"""
Updates the set calling the update() method with union of A , B & C. 
For below example Set A will be updated with union of A,B & C.
"""
A.update(B,C)
A

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

## Intersection

In [332]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}

In [333]:
A & B  # Intersection of A and B (Common items in both sets)

{4, 5}

In [334]:
A.intersection(B)  Intersection of A and B

SyntaxError: invalid syntax (Temp/ipykernel_15436/1811714463.py, line 1)

In [335]:
"""
Updates the set calling the intersection_update() method with the intersection of
 
For below example Set A will be updated  with the intersection of A & B.
"""
A.intersection_update(B)
A

{4, 5}

## Difference

In [336]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}

In [337]:
A - B  # set of elements that are only in A but not in B

{1, 2, 3}

In [338]:
A.difference(B) # Difference of sets

{1, 2, 3}

In [339]:
B- A  # set of elements that are only in B but not in A

{6, 7, 8}

In [340]:
B.difference(A)

{6, 7, 8}

In [341]:
"""
Updates the set calling the difference_update() method with the difference of set

For below example Set B will be updated  with the difference of B & A.
"""
B.difference_update(A)
B

{6, 7, 8}

## Symmetric Difference

In [342]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}

In [343]:
A ^ B # Symmetric difference (Set of elements in A and B but not in both. "EXCLUD"

{1, 2, 3, 6, 7, 8}

In [344]:
A.symmetric_difference(B)  # Symmetric difference of sets

{1, 2, 3, 6, 7, 8}

In [345]:
"""
Updates the set calling the symmetric_difference_update() method with the symmetr

For below example Set A will be updated  with the symmetric difference of A & B.
"""
A.symmetric_difference_update(B)
A

{1, 2, 3, 6, 7, 8}

## Subset , Superset & Disjoint

In [346]:
A = {1,2,3,4,5,6,7,8,9}
B = {3,4,5,6,7,8}
C = {10,20,30,40}

In [347]:
B.issubset(A) # Set B is said to be the subset of set A if all elements of B are

True

In [348]:
A.issuperset(B) # Set A is said to be the superset of set B if all elements of B

True

In [349]:
C.isdisjoint(A) # Two sets are said to be disjoint sets if they have no common element

True

In [350]:
B.isdisjoint(A) # Two sets are said to be disjoint sets if they have no common element

False

# Other Builtin functions

In [351]:
A

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [352]:
print(sum(A))

print(max(A))

print(min(A))

print(len(A))

45
9
1
9

In [353]:
list(enumerate(A))

[(0, 1), (1, 2), (2, 3), (3, 4), (4, 5), (5, 6), (6, 7), (7, 8), (8, 9)]

In [354]:
D= sorted(A,reverse=True)
D

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [355]:
sorted(D)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

# Dictionary

Dictionary is a mutable data type in Python.
 
A python dictionary is a collection of key and value pairs separated by a colon (:) & enclosed
in curly braces {}.

Keys must be unique in a dictionary, duplicate values are allowed.

# Create Dictionary

In [356]:
mydict = dict() # empty dictionary
mydict

{}

In [357]:
mydict = {}  # empty dictionary
mydict

{}

In [358]:
mydict = {1:'one' , 2:'two' , 3:'three'} # dictionary with integer keys
mydict

{1: 'one', 2: 'two', 3: 'three'}

In [359]:
mydict = dict({1:'one' , 2:'two' , 3:'three'}) # Create dictionary using dict()
mydict

{1: 'one', 2: 'two', 3: 'three'}

In [360]:
mydict = {'A':'one' , 'B':'two' , 'C':'three'} # dictionary with character keys
mydict

{'A': 'one', 'B': 'two', 'C': 'three'}

In [361]:
mydict = {1:'one' , 'A':'two' , 3:'three'} # dictionary with mixed keys
mydict

{1: 'one', 'A': 'two', 3: 'three'}

In [362]:
mydict.keys() # Return Dictionary Keys using keys() method

dict_keys([1, 'A', 3])

In [363]:
mydict.values() # Return Dictionary Values using values() method

dict_values(['one', 'two', 'three'])

In [364]:
mydict.items() # Access each key-value pair within a dictionary

dict_items([(1, 'one'), ('A', 'two'), (3, 'three')])

In [365]:
mydict = {1:'one' , 2:'two' , 'A':['anwaar' , 'nizai' , 'k_Rehman']} # dictionary with 
mydict

{1: 'one', 2: 'two', 'A': ['anwaar', 'nizai', 'k_Rehman']}

In [366]:
mydict = {1:'one' , 2:'two' , 'A':['anwaar' , 'nizai' , 'k_Rehman'],  'B':('Bat' , 'cat', 'hat')}
mydict

{1: 'one',
 2: 'two',
 'A': ['anwaar', 'nizai', 'k_Rehman'],
 'B': ('Bat', 'cat', 'hat')}

In [527]:
mydict = {1:'one' , 2:'two' , 'A':{'Name':'Anwaar' , 'Age' :20},  'B':('Bat' , 'cat', 'hat')}
mydict

{1: 'one',
 2: 'two',
 'A': {'Name': 'Anwaar', 'Age': 20},
 'B': ('Bat', 'cat', 'hat')}

In [368]:
keys = {'a' , 'b' , 'c' , 'd'}
mydict3 = dict.fromkeys(keys)  # Create a dictionary from a sequence of keys 
mydict3

{'d': None, 'c': None, 'a': None, 'b': None}

In [369]:
keys = {'a' , 'b' , 'c' , 'd'}
value = 10
mydict3 = dict.fromkeys(keys , value)  # Create a dictionary from a sequence of k
mydict3

{'d': 10, 'c': 10, 'a': 10, 'b': 10}

In [370]:
keys = {'a' , 'b' , 'c' , 'd'}
value = [10,20,30]
mydict3 = dict.fromkeys(keys , value)  # Create a dictionary from a sequence of k
mydict3

{'d': [10, 20, 30], 'c': [10, 20, 30], 'a': [10, 20, 30], 'b': [10, 20, 30]}

In [371]:
value.append(40)
mydict3

{'d': [10, 20, 30, 40],
 'c': [10, 20, 30, 40],
 'a': [10, 20, 30, 40],
 'b': [10, 20, 30, 40]}

# Accessing Items

In [372]:
mydict = {1:'one' , 2:'two' , 3:'three' , 4:'four'}
mydict

{1: 'one', 2: 'two', 3: 'three', 4: 'four'}

In [373]:
mydict[1] # Access item using key

'one'

In [374]:
mydict.get(1) # Access item using get() method

'one'

In [375]:
mydict1 = {'Name':'Anwaar_Ur_Rehman' , 'ID': 74123 , 'DOB': 1991 , 'job' :'Analyst'}
mydict1

{'Name': 'Anwaar_Ur_Rehman', 'ID': 74123, 'DOB': 1991, 'job': 'Analyst'}

In [376]:
mydict1['Name']  # Access item using key

'Anwaar_Ur_Rehman'

In [377]:
mydict1.get('job')  # Access item using get() method

'Analyst'

# Add, Remove & Change Items

In [378]:
mydict1 = {'Name':'Anwaar_Ur_rehamn' , 'ID': 12345 , 'DOB': 1991 , 'Address' : 'Mianwali'}
mydict1

{'Name': 'Anwaar_Ur_rehamn', 'ID': 12345, 'DOB': 1991, 'Address': 'Mianwali'}

In [379]:
mydict1['DOB'] = 1992  # Changing Dictionary Items
mydict1['Address'] = 'Sultan_khel'
mydict1

{'Name': 'Anwaar_Ur_rehamn',
 'ID': 12345,
 'DOB': 1992,
 'Address': 'Sultan_khel'}

In [380]:
dict1 = {'DOB':1995}
mydict1.update(dict1)
mydict1

{'Name': 'Anwaar_Ur_rehamn',
 'ID': 12345,
 'DOB': 1995,
 'Address': 'Sultan_khel'}

In [381]:
mydict1['Job'] = 'Analyst' # Adding items in the dictionary
mydict1

{'Name': 'Anwaar_Ur_rehamn',
 'ID': 12345,
 'DOB': 1995,
 'Address': 'Sultan_khel',
 'Job': 'Analyst'}

In [382]:
mydict1.pop('Job') # Removing items in the dictionary using Pop method
mydict1

{'Name': 'Anwaar_Ur_rehamn',
 'ID': 12345,
 'DOB': 1995,
 'Address': 'Sultan_khel'}

In [383]:
mydict1.popitem() # A random item is removed

('Address', 'Sultan_khel')

In [384]:
mydict1

{'Name': 'Anwaar_Ur_rehamn', 'ID': 12345, 'DOB': 1995}

In [385]:
del[mydict1['ID']] # Removing item using del method
mydict1

{'Name': 'Anwaar_Ur_rehamn', 'DOB': 1995}

In [386]:
mydict1.clear() # Delete all items of the dictionary using clear method
mydict1

{}

In [387]:
del mydict1 # Delete the dictionary object
mydict1

NameError: name 'mydict1' is not defined

# Copy Dictionary

In [388]:
mydict = {'Name':'Anwaar_Ur_rehamn' , 'ID': 12345 , 'DOB': 1991 , 'Address' : 'Mianwali'}
mydict

{'Name': 'Anwaar_Ur_rehamn', 'ID': 12345, 'DOB': 1991, 'Address': 'Mianwali'}

In [389]:
mydict1 = mydict # Create a new reference "mydict1"

In [390]:
id(mydict) , id(mydict1) # The address of both mydict & mydict1 will be the same

(2369217581888, 2369217581888)

In [391]:
mydict2 = mydict.copy() # Create a copy of the dictionary

In [392]:
id(mydict2) # The address of mydict2 will be different from mydict because mydict

2369217603264

In [393]:
 mydict['Address'] = 'UST-Bannu'

In [394]:
mydict

{'Name': 'Anwaar_Ur_rehamn', 'ID': 12345, 'DOB': 1991, 'Address': 'UST-Bannu'}

In [395]:
mydict1 # mydict1 will be also impacted as it is pointing to the same dictionary

{'Name': 'Anwaar_Ur_rehamn', 'ID': 12345, 'DOB': 1991, 'Address': 'UST-Bannu'}

In [396]:
mydict2 # Copy of list won't be impacted due to the changes made in the original

{'Name': 'Anwaar_Ur_rehamn', 'ID': 12345, 'DOB': 1991, 'Address': 'Mianwali'}

# Loop through a Dictionary

In [397]:
mydict1 = {'Name':'Anwaar_Ur_rehamn' , 'ID': 12345 , 'DOB': 1991 , 'Address' : 'Mianwali' , 'Job':'Analyst'}
mydict1

{'Name': 'Anwaar_Ur_rehamn',
 'ID': 12345,
 'DOB': 1991,
 'Address': 'Mianwali',
 'Job': 'Analyst'}

In [398]:
for i in mydict1:
    print(mydict1[i]) # Dictionary items

Anwaar_Ur_rehamn
12345
1991
Mianwali
Analyst

# Dictionary Membership

In [399]:
mydict1 = {'Name':'Anwaar_Ur_rehamn' , 'ID': 12345 , 'DOB': 1991 , 'Job': 'Analyst'}
mydict1

{'Name': 'Anwaar_Ur_rehamn', 'ID': 12345, 'DOB': 1991, 'Job': 'Analyst'}

In [400]:
'Name' in mydict1 # Test if a key is in a dictionary or not.

True

In [401]:
'Anwaar_Ur_rehamn' in mydict1  # Membership test can be only done for keys.

False

In [402]:
'ID' in mydict1

True

In [403]:
'Address' in mydict1

False

# All / Any

The all() method returns:
    
    True - If all all keys of the dictionary are true

    False - If any key of the dictionary is false
 
The any() function returns True if any key of the dictionary is True. If not, any() returns False.

In [404]:
mydict1 = {'Name':'Anwaar_Ur_rehamn' , 'ID': 12345 , 'DOB': 1991 , 'Job': 'Analyst'}
mydict1

{'Name': 'Anwaar_Ur_rehamn', 'ID': 12345, 'DOB': 1991, 'Job': 'Analyst'}

In [405]:
all(mydict1) # Will Return false as one value is false (Value 0)

True

In [406]:
any(mydict1)  # Will Return True as we have items in the dictionary with True

True

In [407]:
mydict1[0] = 'test1'
mydict1

{'Name': 'Anwaar_Ur_rehamn',
 'ID': 12345,
 'DOB': 1991,
 'Job': 'Analyst',
 0: 'test1'}

In [408]:
all(mydict1) # Returns false as one value is false

False

In [409]:
any(mydict1)  # Will Return True as we have items in the dictionary with True

True

# Dictionary Comprehension

In [410]:
double = {i:i*2 for i in range(10)} #double each value using dict comprehension
double

{0: 0, 1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18}

In [411]:
square = {i:i**2 for i in range(10)}
square

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [412]:
key = ['one' , 'two' , 'three' , 'four' , 'five']
value = [1,2,3,4,5]

mydict = {k:v for (k,v) in zip(key,value)} # using dict comprehension to create Dictionary
mydict

{'one': 1, 'two': 2, 'three': 3, 'four': 4, 'five': 5}

In [413]:
mydict1 = {'a':10 , 'b':20 , 'c':30 , 'd':40 , 'e':50}
mydict1 = {k:v/10 for (k,v) in mydict1.items()} # Divide all values in a dictionary
mydict1

{'a': 1.0, 'b': 2.0, 'c': 3.0, 'd': 4.0, 'e': 5.0}

In [414]:
str1 = "Natural Language Processing"
 
    
mydict2 = {k:v for (k,v) in enumerate(str1)} # Store enumerated values in a dictionary
mydict2

{0: 'N',
 1: 'a',
 2: 't',
 3: 'u',
 4: 'r',
 5: 'a',
 6: 'l',
 7: ' ',
 8: 'L',
 9: 'a',
 10: 'n',
 11: 'g',
 12: 'u',
 13: 'a',
 14: 'g',
 15: 'e',
 16: ' ',
 17: 'P',
 18: 'r',
 19: 'o',
 20: 'c',
 21: 'e',
 22: 's',
 23: 's',
 24: 'i',
 25: 'n',
 26: 'g'}

In [415]:
str1 = "abcdefghijklmnopqrstuvwxyz"


mydict3 = {i:i.upper() for i in str1} # Lower to Upper Case
mydict3

{'a': 'A',
 'b': 'B',
 'c': 'C',
 'd': 'D',
 'e': 'E',
 'f': 'F',
 'g': 'G',
 'h': 'H',
 'i': 'I',
 'j': 'J',
 'k': 'K',
 'l': 'L',
 'm': 'M',
 'n': 'N',
 'o': 'O',
 'p': 'P',
 'q': 'Q',
 'r': 'R',
 's': 'S',
 't': 'T',
 'u': 'U',
 'v': 'V',
 'w': 'W',
 'x': 'X',
 'y': 'Y',
 'z': 'Z'}

# Word Frequency using dictionary

In [416]:
mystr4 = "one two three four one two two three five five six seven six seven one one one ten eight ten nine eleven ten ten nine"

In [417]:
mylist = mystr4.split() # Split String into substrings
mylist

['one',
 'two',
 'three',
 'four',
 'one',
 'two',
 'two',
 'three',
 'five',
 'five',
 'six',
 'seven',
 'six',
 'seven',
 'one',
 'one',
 'one',
 'ten',
 'eight',
 'ten',
 'nine',
 'eleven',
 'ten',
 'ten',
 'nine']

In [418]:
mylist1 = set(mylist) # Unique values in a list
mylist1 = list (mylist1)
mylist1

['seven',
 'eight',
 'four',
 'one',
 'ten',
 'six',
 'eleven',
 'two',
 'nine',
 'five',
 'three']

In [419]:
# Calculate frequenct of each word
count1 = [0] * len(mylist1)
mydict5 = dict()
for i in range(len(mylist1)):
    for j in range(len(mylist)):
        if mylist1[i] == mylist[j]:
            count1[i] += 1
    mydict5[mylist1[i]] = count1[i]
print(mydict5)

{'seven': 2, 'eight': 1, 'four': 1, 'one': 5, 'ten': 4, 'six': 2, 'eleven': 1, 'two': 3, 'nine': 2, 'five': 2, 'three': 2}

# Operators

#### Operators are special symbols in Python which are used to perform operations on variables/values.

## Arithmetic Operators

In [420]:
a = 5
b = 2

x = 'Anwaar_Ur_Rehman'
y = 'Mianwali'

# Addition
c = a + b
print('Addition of {} and {} will give :- {}\n'.format(a,b,c))

#Concatenate string using plus operator
z = x+y
print ('Concatenate string \'x\' and \'y\' using \'+\' operaotr :- {}\n'.format(z))
       
# Subtraction
c = a - b
print('Subtracting {} from {} will give :- {}\n'.format(b,a,c))
       
# Multiplication
c = a * b  
print('Multiplying {} and {} will give :- {}\n'.format(a,b,c))
       
# Division
c = a / b
print('Dividing {} by {} will give :- {}\n'.format(a,b,c))
       
# Modulo of both number  
c = a % b
print('Modulo of {} , {} will give :- {}\n'.format(a,b,c))
       
# Power 
c = a ** b 
print('{} raised to the power {} will give :- {}\n'.format(a,b,c))
       
# Division(floor)
c = a // b
print('Floor division of {} by {} will give :- {}\n'.format(a,b,c))

Addition of 5 and 2 will give :- 7

Concatenate string 'x' and 'y' using '+' operaotr :- Anwaar_Ur_RehmanMianwali

Subtracting 2 from 5 will give :- 3

Multiplying 5 and 2 will give :- 10

Dividing 5 by 2 will give :- 2.5

Modulo of 5 , 2 will give :- 1

5 raised to the power 2 will give :- 25

Floor division of 5 by 2 will give :- 2

# Comparison Operators

Comparison operators are used to compare values.

In [421]:
x = 20
y = 30
print('Is x greater than y :- ',x>y)
print('\nIs x less than  y :- ',x<y)
print('\nIs x equal to  y :- ',x==y)
print('\nIs x not equal to y :- ',x!=y)
print('\nIs x greater than or equal to y :- ',x>=y)
print('\nIs x less than or equal to y :- ',x<=y)

Is x greater than y :-  False

Is x less than  y :-  True

Is x equal to  y :-  False

Is x not equal to y :-  True

Is x greater than or equal to y :-  False

Is x less than or equal to y :-  True

In [422]:
a = 'Anwaar'
b = 'Rehman'
c = 'Khan'
a == b , a ==c , a != b # Comparison operators on string

(False, False, True)

# Logical Operators

In [423]:
x = True
y = False
print('Logical AND operation :- ',x and y) # True if both values are true
print('Logical OR operation :- ',x or y) # True if either of the values is true
print('NOT operation :- ',not x ) # True if operand is false

Logical AND operation :-  False
Logical OR operation :-  True
NOT operation :-  False

# Bitwise operators

####  Bitwise operators act on bits and performs bit by bit operation.

In [424]:
x = 18  # binary form 10010
y = 6  # binary form 00110
print('Bitwise AND operation - {}'.format(x&y))
print('Bitwise OR operation - {}'.format(x|y))
print('Bitwise XOR operation - {}'.format(x^y))
print('Bitwise NOT operation - {}'.format(~x))
print('Bitwise right shift operation - {}'.format(x>>2))
print('Bitwise left shift operation - {}'.format(x<<2))

Bitwise AND operation - 2
Bitwise OR operation - 22
Bitwise XOR operation - 20
Bitwise NOT operation - -19
Bitwise right shift operation - 4
Bitwise left shift operation - 72

# Assignment Operators

In [425]:
x = 10
print('Initialize x with value 10 (x=10)) :- ',x)

x+=20 # x = x+20
print ('Add 20 to x :- ',x)

x-=20 # x = x-20
print ('subtract 20 from x :- ',x)

x/=10 # x = x/10
print ('Divide x by 10 :- ',x)

x*=10 # x = x/10
print ('Multiply x by 10 :- ',x)

x = int(x)
x**=2 # x = x/10
print ('x raised to the power 2 :- ',x)

x%=2
print ('Modulo Division :- ',x)

x = 20
x//=3
print ('Floor Division :- ',x)

x&=2
print('Bitwise AND :- ',x)
x|=2
print('Bitwise OR :- ',x)

x^=2
print('Bitwise XOR :- ',x)

x = 10
x<<=2
print('Bitwise left shift operation',x)
x>>=2
print('Bitwise right shift operation',x)

Initialize x with value 10 (x=10)) :-  10
Add 20 to x :-  30
subtract 20 from x :-  10
Divide x by 10 :-  1.0
Multiply x by 10 :-  10.0
x raised to the power 2 :-  100
Modulo Division :-  0
Floor Division :-  6
Bitwise AND :-  2
Bitwise OR :-  2
Bitwise XOR :-  0
Bitwise left shift operation 40
Bitwise right shift operation 10

# Membership Operators

#### Membership Operators are used to test whether a value / variable is present in a sequence.

In [426]:
mystr = 'Anwaar Ur Rehman'
'Anwaar' in mystr , 'Khan' in mystr

(True, False)

In [427]:
mystr = 'Anwaar Ur Rehman'
'Anwaar' not in mystr , 'Khan' not in mystr

(False, True)

# Functions

A function is a block of organized code written to carry out a specified task.

Functions help break our program into smaller and modular chunks for better readability.

Information can be passed into a function as arguments.

Parameters are specified after the function name inside the parentheses.

We can add as many parameters as we want. Parameters must be separated with a comma.

A function may or may not return data.

In Python a function is defined using the def keyword

# Parameter VS Argument

A parameter is the variable listed inside the parentheses in the function definition.

An argument is the value that is sent to the function when it is called.

# Three types of functions in Python:

## Built-in function :- 
Python predefined functions that are readily available for use like min() ,max() , sum() , print() etc.
## User-Defined Functions:- 
Function that we define ourselves to perform a specific task.
## Anonymous functions :-
Function that is defined without a name. Anonymous functions are
also called as lambda functions. They are not declared with the def keyword.

In [428]:
def myfunc():
    print("Hello Python Lovers")
myfunc()

Hello Python Lovers

In [429]:
def details(name,userid,country): # Function to print User details
    print('Name :- ', name)
    print('User ID is :- ', userid)
    print('Country :- ',country)
details('Anwaar' , 'Niazi123' , 'Pakistan')

Name :-  Anwaar
User ID is :-  Niazi123
Country :-  Pakistan

In [430]:
def square (n): #function to find square of a number
    n= n*n
    return n
square (10)

100

In [431]:
def even_odd (num): #Even odd test
    """ This function will check whether a number is even or odd"""
    if num % 2 ==0:
        print (num, ' is even number')
    else:
        print (num, ' is odd number')
        
even_odd(3)
even_odd(4)
print(even_odd.__doc__) # Print function documentation string

3  is odd number
4  is even number
 This function will check whether a number is even or odd

In [432]:
def fullname (firstname , middlename ,lastname): #Concatenate Strings
    fullname = "{} {} {}".format(firstname,middlename,lastname)
    print (fullname)
fullname('Anwaar' , 'Ur' , 'Rehman')

Anwaar Ur Rehman

In [433]:
def fullname (firstname , middlename ,lastname): #Concatenate Strings
    fullname = "{} {} {}".format(firstname,middlename,lastname)
    print (fullname)
fullname(lastname = 'Rehman' , middlename='Ur' , firstname='Anwaar')

Anwaar Ur Rehman

In [434]:
fullname ('Anwaar') # This will throw error as function is expecting 3 arguments.

TypeError: fullname() missing 2 required positional arguments: 'middlename' and 'lastname'

In [435]:
def myfunc(city = 'Mianwali'):
    print('Most Populous City :- ', city)
myfunc() # When a function is called without an argument it will use default value

Most Populous City :-  Mianwali

In [436]:
var1 = 100 # Variable with Global scope.
def myfunc():
    print(var1) # Value 100 will be displayed due to global scope of var1
myfunc()
print(var1)

100
100

In [437]:
def myfunc1():
    var2 = 10  # Variable with Local scope
    print(var2)
 
 
def myfunc2():
    print(var2) # This will throw error because var2 has a local scope.

myfunc1()
myfunc2()

10

NameError: name 'var2' is not defined

In [438]:
var1 = 100 # Variable with Global scope.
 
def myfunc():
    var1 = 99  # Local scope
    print(var1)
 
    
myfunc()  
print(var1) # The original value of var1 (100) will be retained due to global scope var1

99
100

In [439]:
list1 = [11,22,33,44,55]
 
def myfunc(list1):
    del list1[0]

print('"List1" before calling the function:- ',list1)
myfunc(list1)  # Pass by reference (Any change in the parameter within the function
print('"List1" after calling the function:- ',list1)

"List1" before calling the function:-  [11, 22, 33, 44, 55]
"List1" after calling the function:-  [22, 33, 44, 55]

In [440]:
list1 = [11,22,33,44,55]
def myfunc(list1):
    list1 = [10,100,1000,10000] # link of 'list1' with previous object is broken 

print('"List1" before calling the function:- ',list1)
myfunc(list1)  # Pass by reference (Any change in the parameter within the function
print('"List1" after calling the function:- ',list1)

"List1" before calling the function:-  [11, 22, 33, 44, 55]
"List1" after calling the function:-  [11, 22, 33, 44, 55]

In [441]:
list1 = [11,22,33,44,55]
 
    
def myfunc(list1):
    list1 = [10,100,1000,10000] # link of 'list1' with previous object is broken 

    
print('"List1" before calling the function:- ',list1)
myfunc(list1)  # Pass by reference (Any change in the parameter within the function
print('"List1" after calling the function:- ',list1)

"List1" before calling the function:-  [11, 22, 33, 44, 55]
"List1" after calling the function:-  [11, 22, 33, 44, 55]

In [442]:
def swap(a,b):
    temp = a
    a = b      # link of 'a' with previous object is broken now as new object is
    b = temp   # link of 'b' with previous object is broken now as new object is 
    
a = 10
b = 20
swap(a,b)
a,b

(10, 20)

In [443]:
def factorial(num):  # Calculate factorial of a number using recursive function
    if num <=1 :
        return 1
    else:
        return num * factorial(num-1)
factorial(4)

24

In [444]:
def add(num):  # Sum of first n natural numbers
    if num == 0:
        return 0
    else:
        return num + add(num-1)
add(5) # Sum of first five natural numbers (1,2,3,4,5)

15

def fiboacci(num):
    if num <= 1:
        return num
    if num == 2:
        return 1
    else: 
        return(fiboacci(num-1) + fiboacci(num-2))  

nums = int(input("How many fibonacci numbers you want to generate -"))
 
 
 
for i in range(nums):
    print(fiboacci(i))  # Generate Fibonacci series

#  args & kwargs

## *args

When we are not sure about the number of arguments being passed to a function then we can
use *args as function parameter.

*args allow us to pass the variable number of Non Keyword Arguments to function.

We can simply use an asterisk * before the parameter name to pass variable length
arguments.

The arguments are always passed as a tuple.
 
We can rename it to anything as long as it is preceded by a single asterisk (*). It's best practice to keep naming it args to make it immediately recognizable.

##  **kwargs

**kwargs allows us to pass the variable number of Keyword Arguments to the function.

We can simply use an double asterisk ** before the parameter name to pass variable length
arguments.

The arguments are passed as a dictionary.

We can rename it to anything as long as it is preceded by a double asterisk (**). It's best
practice to keep naming it kwargs to make it immediately recognizable.

In [445]:
def add(a,b,c):
    return a+b+c

print(add(10,20,30)) # Sum of two numbers

60

In [446]:
print(add(1,2,3,4)) '''This will throw below error as this function will only takes
If we want to make argument list dynamic then *args wil come in picture'''

SyntaxError: invalid syntax (Temp/ipykernel_15436/654127392.py, line 1)

In [447]:
def some_args(arg_1, arg_2, arg_3):
    print("arg_1:", arg_1)
    print("arg_2:", arg_2)
    print("arg_3:", arg_3)
my_list = [2, 3]
some_args(1, *my_list)

arg_1: 1
arg_2: 2
arg_3: 3

In [448]:
def add(*args):
    return sum(args)

print(add(1,2,3))
print(add(1,2,3,4))
print(add(1,2,3,4,5))
print(add(1,2,3,4,5,6))
print(add(1,2,3,4,5,6,7))

6
10
15
21
28

In [449]:
list1 = [1,2,3,4,5,6,7]
tuple1 = (1,2,3,4,5,6,7)
 
add1(*list1) , add1(*tuple1) #tuple & list items will be passed as argument list

NameError: name 'add1' is not defined

In [450]:
list1 = [1,2,3,4,5,6,7]
list2 = [1,2,3,4,5,6,7]
list3 = [1,2,3,4,5,6,7]
list4 = [1,2,3,4,5,6,7]

add1(*list1 , *list2 , *list3 , *list4 )

NameError: name 'add1' is not defined

In [451]:
def UserDetails(*args):
    print(args)

    
UserDetails('Anwaar' , 1728 , 41102 , 25 ,  'Pakistan' , 'Urdu')
 
''' For the above example we have no idea about the parameters passed e.g 7412 , 
    In such cases we can take help of Keyworded arguments (**kwargs) '''

('Anwaar', 1728, 41102, 25, 'Pakistan', 'Urdu')

' For the above example we have no idea about the parameters passed e.g 7412 , \n    In such cases we can take help of Keyworded arguments (**kwargs) '

In [528]:
def UserDetails(**kwargs):
    print(kwargs)
 
UserDetails(Name='Anwaar' , ID=1728 , Pincode=41102 , Age= 25 ,  Country= 'Pakisatan' , Language= 'Urdu')

{'Name': 'Anwaar', 'ID': 1728, 'Pincode': 41102, 'Age': 25, 'Country': 'Pakisatan', 'Language': 'Urdu'}

In [453]:
def UserDetails(**kwargs):
    for key,val in kwargs.items():
        print("{} :- {}".format(key,val))
        
UserDetails(Name='Anwaar' , ID=1728 , Pincode=41102 , Age= 25 ,  Country= 'Pakisatan' , Language= 'Urdu')

Name :- Anwaar
ID :- 1728
Pincode :- 41102
Age :- 25
Country :- Pakisatan
Language :- Urdu

In [454]:
mydict = {'Name':'Anwaar' , 'ID':1728 , 'Pincode':41102 , 'Age':25 , 'Country':'Pakisatan' , 'Language':'Urdu'}

UserDetails(**mydict)

Name :- Anwaar
ID :- 1728
Pincode :- 41102
Age :- 25
Country :- Pakisatan
Language :- Urdu

In [455]:
def UserDetails(licenseNo,  *args , phoneNo=0 , **kwargs): # Using all four argument
    print('License No :- ', licenseNo)
    j=''
    for i in args:
        j = j+i
    print('Full Name :-',j)
    print('Phone Number:- ',phoneNo)
    for key,val in kwargs.items():
        print("{} :- {}".format(key,val))
name = ['Anwaar' , '_' , 'Ur' , '_','Rehman']
mydict = {'Name':'Anwaar' , 'ID':1728 , 'Pincode':41102 , 'Age':25 , 'Country':'Pakisatan' , 'Language':'Urdu'}
UserDetails('PAK145' , *name , phoneNo=1234567890,**mydict )

License No :-  PAK145
Full Name :- Anwaar_Ur_Rehman
Phone Number:-  1234567890
Name :- Anwaar
ID :- 1728
Pincode :- 41102
Age :- 25
Country :- Pakisatan
Language :- Urdu

In [456]:
def UserDetails(licenseNo, *args , phoneNo=0, **kwargs): # Using all four argument
    print('Nothing')

In [457]:
def UserDetails(licenseNo, **kwargs , *args):  # This will fail. *args MUST come before **kwargs in the argument list 
    print('Nothing')

SyntaxError: invalid syntax (Temp/ipykernel_15436/197601682.py, line 1)

In [458]:
#The below function will fail. Default argument/positional argument (licenseNo)
def UserDetails(ID = 1, licenseNo, *args):
    print('Nothing')

SyntaxError: non-default argument follows default argument (Temp/ipykernel_15436/4087566971.py, line 2)

# Lambda, Filter, Map and Reduce

#####  Lambda

A lambda function is an anonymous function (function without a name).

Lambda functions can have any number of arguments but only one expression. The
expression is evaluated and returned.

We use lambda functions when we require a nameless function for a short period of time.

##### Filter

It is used to filter the iterables/sequence as per the conditions.

Filter function filters the original iterable and passes the items that returns True for the function
provided to filter.
 
It is normally used with Lambda functions to filter list, tuple, or sets.

######  filter() method takes two parameters:

function - function tests if elements of an iterable returns true or false

iterable - Sequence which needs to be filtered, could be sets, lists, tuples, or any iterators

##### Map

The map() function applies a given function to each item of an iterable (list, tuple etc.) and
returns a list of the results.

######  map() function takes two Parameters :

function : The function to execute for each item of given iterable.
 
iterable : It is a iterable which is to be mapped.

Returns : Returns a list of the results after applying the given function to each item of a given
iterable (list, tuple etc.)

###  Reduce

The reduce() function is defined in the functools python module.The reduce() function
receives two arguments, a function and an iterable. However, it doesn't return another iterable,
instead it returns a single value.

### Working:

1) Apply a function to the first two items in an iterable and generate a partial result.

2) The function is then called again with the result obtained in step 1 and the next value in the
 sequence. This process keeps on repeating until there are items in the sequence.

3) The final returned result is returned and printed on console.

In [459]:
addition = lambda a : a + 10  # This lambda function adds value 10 to an argument
print(addition(5))

15

In [460]:
product = lambda a, b : a * b #This lambda function takes two arguments (a,b)
print(product(5, 6))

30

In [461]:
addition = lambda a, b, c : a + b + c  #This lambda function takes three argument
print(addition(5, 6, 2))

13

In [462]:
res = (lambda *args: sum(args)) 
res(10,20) , res(10,20,30,40) ,  res(10,20,30,40,50,60,70)

(30, 100, 280)

In [463]:
res1 = (lambda **kwargs: sum(kwargs.values()))
res1(a = 10 , b= 20 , c = 30) , res1(a = 10 , b= 20 , c = 30, d = 40 , e = 50)

(60, 150)

In [464]:
res1 = (lambda **kwargs: sum(kwargs.values()))
res1(a = 10 , b= 20 , c = 30) , res1(a = 10 , b= 20 , c = 30, d = 40 , e = 50)

(60, 150)

In [465]:
# User defined function to find product of numbers
def product(nums):  
    total = 1
    for i in nums:
        total *= i  
    return total
# This lambda function can take any number of arguments and return thier product.
res1 = (lambda **kwargs: product(kwargs.values())) 
res1(a = 10 , b= 20 , c = 30) , res1(a = 10 , b= 20 , c = 30, d = 40 , e = 50)

(6000, 12000000)

In [466]:
def myfunc(n):
    return lambda a : a + n

add10 = myfunc(10)
add20 = myfunc(20)
add30 = myfunc(30)

print(add10(5))
print(add20(5))
print(add30(5))

15
25
35

In [467]:
list1 = [1,2,3,4,5,6,7,8,9]
    
def odd(n):
    if n%2 ==1: return True
    else: return False
odd_num = list(filter(odd,list1)) # This Filter function filters list1 and passes
odd_num

[1, 3, 5, 7, 9]

In [468]:
list1 = [1,2,3,4,5,6,7,8,9]
 # The below Filter function filters "list1" and passes all odd numbers using lambda
odd_num = list(filter(lambda n: n%2 ==1 ,list1)) 
odd_num

[1, 3, 5, 7, 9]

In [469]:
def twice(n):
    return n*2
doubles = list(map(twice,odd_num)) # The map function will apply user defined "tw0"
doubles

[2, 6, 10, 14, 18]

In [470]:
doubles = list(map(lambda n:n*2,odd_num)) # This map function will double all items
doubles

[2, 6, 10, 14, 18]

In [471]:
from functools import reduce

def add(a,b):
    return a+b

sum_all = reduce(add,doubles) # This reduce function will perform sum of all items
sum_all

50

In [472]:
#The below reduce() function will perform sum of all items in the list using lambda
sum_all = reduce(lambda a,b : a+b,doubles)
sum_all

50

In [473]:
 # Putting all together 
sum_all = reduce(lambda a,b : a+b,list(map(lambda n:n*2,list(filter(lambda n: n%2)))))
sum_all

TypeError: filter expected 2 arguments, got 1

### More examples on Map , Filter , Reduce

In [474]:
list1 = [1,2,3,4,5,6,7,8,9,10]

even = list(filter(lambda n: n%2 ==0 ,list1)) # Filter even numbers from the list
odd =  list(filter(lambda n: n%2 !=0 ,list1)) # Filter odd numbers from the list

print('--------')
print(even)
print(odd)
print('--------')

list2 = ['one' , 'TWO' , 'three' , 'FOUR']

upper = list(filter(lambda x: x.isupper() , list2)) # filter uppercase strings from
lower = list(filter(lambda x: x.islower() , list2)) # filter lowercase strings from

print(upper)
print(lower)
print('--------')

list3 = ['one' , 'two2' , 'three3' ,'88' , '99' , '102']
 
num = list(filter(lambda x:x.isnumeric(), list3))  # filter numbers from the 
alpha = list(filter(lambda x:x.isalpha(), list3))   # filter character strings
alphanum = list(filter(lambda x:x.isalnum(), list3)) # filtr numbers & character 

print(alpha)
print(num)
print(alphanum)
print('--------')
#Vowel Test

--------
[2, 4, 6, 8, 10]
[1, 3, 5, 7, 9]
--------
['TWO', 'FOUR']
['one', 'three']
--------
['one']
['88', '99', '102']
['one', 'two2', 'three3', '88', '99', '102']
--------

In [475]:
list1 = [1,2,3,4]
list2 = [5,6,7,8]

def double(x):
    return x+x

def add(x,y):
    return x+y
 
def square(x):
    return x*x
    
print('---------------')

print(list(map(double, list1))) # Double each number using map & User defined function
print(list(map(add, list1, list2))) # add two items  using map & User defined function
print(list(map(square, list1))) #Square numbers using map & User defined function

print('---------------')

print(list(map(lambda x: x + x, list1))) # Double each number using map & lambda
print(list(map(lambda x, y: x + y, list1, list2))) # add two items  using map & lambda
print(list(map(lambda x: x*x, list1))) #Square numbers using map & lambda

print('---------------')

---------------
[2, 4, 6, 8]
[6, 8, 10, 12]
[1, 4, 9, 16]
---------------
[2, 4, 6, 8]
[6, 8, 10, 12]
[1, 4, 9, 16]
---------------

In [476]:
list2 = [1,2,3,4]

product = reduce (operator.mul,list2) # Product of all numbers in a list
add = reduce(operator.add,list2) # Add all numbers in the list
concat_str = reduce(operator.add , ['Python' , ' ' , 'Rocks']) # Concatenate string
prod = reduce(operator.mul,['Hello ' , 3]) #Repeat a string multiple times
min_num = reduce(lambda a, b: a if a < b else b, list2) # Minimum number in the lambda

print(product)
print(add)
print(concat_str)
print(prod)
print(min_num)

max_num = reduce(lambda a, b: a if a > b else b, list2) # Maximum number in the 
print(max_num)

24
10
Python Rocks
Hello Hello Hello
1
4

In [477]:
def min_func(a, b):
    return a if a < b else b

def max_func(a, b):
    return a if a > b else b

min_num = reduce(min_func, list2) # Minimum number in the list using reduce () & 
max_num = reduce(max_func, list2) # Maximum number in the list using reduce () & 
min_num , max_num

(1, 4)

In [478]:
print('------')

print(reduce(lambda a, b: bool(a and b), [0, 0, 1, 0, 0])) # Returns True if all 
print(reduce(lambda a, b: bool(a and b), [2, 3, 1, 5, 6])) # Returns True if all 
print(reduce(lambda a, b: bool(a and b), [8, 9, 1, 0, 9])) # Returns True if all 

print('------')

print(reduce(lambda a, b: bool(a or b), [0, 0, 0, 0, 0]))  # Returns True if any 
print(reduce(lambda a, b: bool(a or b), [2, 3, 1, 5, 6]))  # Returns True if any 
print(reduce(lambda a, b: bool(a or b), [8, 9, 1, 0, 9]))  # Returns True if any 

print('------')

------
False
True
False
------
False
True
True
------

# Classes & Objects

A Class is an object constructor or a "blueprint" for creating objects.

Objects are nothing but an encapsulation of variables and functions into a single entity.

Objects get their variables and functions from classes.

To create a class we use the keyword class.

The first string inside the class is called docstring which gives the brief description about the
class.

All classes have a function called ____init____() which is always executed when the class is being initiated.
 
We can use ____init____() function to assign values to object properties or other operations
that are necessary to perform when the object is being created

The self parameter is a reference to the current instance of the class and is used to access
class variables.
 
self must be the first parameter of any function in the class

The super() builtin function returns a temporary object of the superclass that allows us to
access methods of the base class.

super() allows us to avoid using the base class name explicitly and to enable multiple
inheritance.

In [479]:
# Create a class with property "var1"
class myclass:
    var1 = 10
obj1 = myclass() # Create an object of class "myclass()"
print(obj1.var1)

10

In [480]:
# Create an employee class
class Employee:
    def __init__(self, name, empid): # __init__() function is used to assign values
        self.name = name
        self.empid = empid
    def greet(self): # Class Method
        print("Thanks for joining ABC Company {}!!".format(self.name))

emp1 = Employee("Anwaar", 17283124)  # Create an employee object

print('Name :- ',emp1.name)
print('Employee ID :- ',emp1.empid)
emp1.greet()

Name :-  Anwaar
Employee ID :-  17283124
Thanks for joining ABC Company Anwaar!!

In [481]:
emp1.name = 'Niazi' # Modify Object Properties
emp1.name

'Niazi'

In [482]:
del emp1.empid   # Delete Object Properties
emp1.empid

AttributeError: 'Employee' object has no attribute 'empid'

In [483]:
del emp1 # Delete the object
emp1

NameError: name 'emp1' is not defined

In [484]:
emp2 = Employee("Israr", 34162)  # Create an employee object

print('Name :- ',emp2.name)
print('Employee ID :- ',emp2.empid)
emp2.greet()

Name :-  Israr
Employee ID :-  34162
Thanks for joining ABC Company Israr!!

In [485]:
emp2.country = 'Pakistan' #instance variable can be created manually
emp2.country

'Pakistan'

# Inheritance

Inheritance is a powerful feature in object oriented programming.
 
Inheritance provides code reusability in the program because we can use an existing class
(Super Class/ Parent Class / Base Class) to create a new class (Sub Class / Child Class /
Derived Class) instead of creating it from scratch.

The child class inherits data definitions and methods from the parent class which facilitates the
reuse of features already available. The child class can add few more definitions or redefine a
base class method.

Inheritance comes into picture when a new class possesses the 'IS A' relationship with an
existing class. E.g Student is a person. Hence person is the base class and student is derived
class.

In [486]:
class person: # Parent Class
    def __init__(self, name , age , gender):
        self.name = name
        self.age = age
        self.gender = gender

        
    def PersonInfo(self):
        print('Name :- {}'.format(self.name))
        print('Age :- {}'.format(self.age))
        print('Gender :- {}'.format(self.gender))

        
class student(person): # Child Class

    def __init__(self,name,age,gender,studentid,fees):
        person.__init__(self,name,age,gender)
        self.studentid = studentid
        self.fees = fees

        
    def StudentInfo(self):
        print('Student ID :- {}'.format(self.studentid))
        print('Fees :- {}'.format(self.fees))

    
class teacher(person): # Child Class
 
    def __init__(self,name,age,gender,empid,salary):
        person.__init__(self,name,age,gender)
        self.empid = empid
        self.salary = salary

    
    def TeacherInfo(self):
        print('Employee ID :- {}'.format(self.empid))
        print('Salary :- {}'.format(self.salary))

stud1 = student('Anwaar' , 24 , 'Male' , 1728 , 1200)
print('Student Details')
print('---------------')

stud1.PersonInfo()  # PersonInfo() method presnt in Parent Class will be access
stud1.StudentInfo()
print()

teacher1 = teacher('Mehr_Khan' , 36 , 'Male' , 456 , 80000)
print('Employee Details')
print('---------------')
teacher1.PersonInfo() # PersonInfo() method presnt in Parent Class will be acc
teacher1.TeacherInfo()

Student Details
---------------
Name :- Anwaar
Age :- 24
Gender :- Male
Student ID :- 1728
Fees :- 1200

Employee Details
---------------
Name :- Mehr_Khan
Age :- 36
Gender :- Male
Employee ID :- 456
Salary :- 80000

In [487]:
class person:  # Parent Class
    def __init__(self, name , age , gender):
        self.name = name
        self.age = age
        self.gender = gender

    def PersonInfo(self):
        print('Name :- {}'.format(self.name))
        print('Age :- {}'.format(self.age))
        print('Gender :- {}'.format(self.gender))
    
class student(person): # Child Class
    def __init__(self,name,age,gender,studentid,fees):
        person.__init__(self,name,age,gender)
        self.studentid = studentid
        self.fees = fees

    def StudentInfo(self):
        print('Student ID :- {}'.format(self.studentid))
        print('Fees :- {}'.format(self.fees))

stud1 = student('Anwaar' , 24 , 'Male' , 1728 , 1200)
print('Student Details')
print('---------------')

stud1.PersonInfo()  # PersonInfo() method presnt in Parent Class will be access
stud1.StudentInfo()
print()

Student Details
---------------
Name :- Anwaar
Age :- 24
Gender :- Male
Student ID :- 1728
Fees :- 1200

In [488]:
# super() builtin function allows us to access methods of the base class.
class person:  # Parent Class
    def __init__(self, name , age , gender):
        self.name = name
        self.age = age
        self.gender = gender
    
    def PersonInfo(self):
        print('Name :- {}'.format(self.name))
        print('Age :- {}'.format(self.age))
        print('Gender :- {}'.format(self.gender))
 
class student(person): # Child Class
    def __init__(self,name,age,gender,studentid,fees):
        super().__init__(name,age,gender)  
        self.studentid = studentid
        self.fees = fees

    def StudentInfo(self):
        super().PersonInfo()
        print('Student ID :- {}'.format(self.studentid))
        print('Fees :- {}'.format(self.fees))

stud = student('Anwaar' , 24 , 'Male' , 1728 , 1200)
print('Student Details')
print('---------------')
stud.StudentInfo()

Student Details
---------------
Name :- Anwaar
Age :- 24
Gender :- Male
Student ID :- 1728
Fees :- 1200

# Multi-level Inheritance

In this type of inheritance, a class can inherit from a child class or derived class.

Multilevel Inheritance can be of any depth in python.

In [489]:
class person: # Parent Class
    def __init__(self, name , age , gender):
        self.name = name
        self.age = age
        self.gender = gender
    
    def PersonInfo(self):
        print('Name :- {}'.format(self.name))
        print('Age :- {}'.format(self.age))
        print('Gender :- {}'.format(self.gender))

class employee(person): # Child Class
    def __init__(self,name,age,gender,empid,salary):
        person.__init__(self,name,age,gender)
        self.empid = empid
        self.salary = salary
    
    def employeeInfo(self):
        print('Employee ID :- {}'.format(self.empid))
        print('Salary :- {}'.format(self.salary))
 

class fulltime(employee): # Grand Child Class
    def __init__(self,name,age,gender,empid,salary,WorkExperience):
        employee.__init__(self,name,age,gender,empid,salary)
        self.WorkExperience = WorkExperience

    def FulltimeInfo(self):
        print('Work Experience :- {}'.format(self.WorkExperience))
 

class contractual(employee): # Grand Child Class
    def __init__(self,name,age,gender,empid,salary,ContractExpiry):
        employee.__init__(self,name,age,gender,empid,salary)
        self.ContractExpiry = ContractExpiry
    
    def ContractInfo(self):
        print('Contract Expiry :- {}'.format(self.ContractExpiry))
        
print('Contractual Employee Details')
print('****************************')
    
contract1 = contractual('Niazi' , 36 , 'Male' , 456 , 80000,'21-12-2021')
contract1.PersonInfo()
contract1.employeeInfo()
contract1.ContractInfo()
print('\n \n')

print('Fulltime Employee Details')
print('****************************')

fulltim1= fulltime('Anwaar' , 22 , 'Male' , 1728 , 70000, 12)
fulltim1.PersonInfo()
fulltim1.employeeInfo()
fulltim1.FulltimeInfo()

Contractual Employee Details
****************************
Name :- Niazi
Age :- 36
Gender :- Male
Employee ID :- 456
Salary :- 80000
Contract Expiry :- 21-12-2021



Fulltime Employee Details
****************************
Name :- Anwaar
Age :- 22
Gender :- Male
Employee ID :- 1728
Salary :- 70000
Work Experience :- 12

# Multiple Inheritance

Multiple inheritance is a feature in which a class (derived class) can inherit attributes and
methods from more than one parent class.

The derived class inherits all the features of the base case.

In [490]:
# Super Class
class Father:
    def __init__(self):
        self.fathername = str()
 
 # Super Class
class Mother:
    def __init__(self):
        self.mothername = str()
 
# Sub Class
class Son(Father, Mother):
    name = str()
    def show(self):
        print('My Name :- ',self.name)
        print("Father :", self.fathername)
        print("Mother :", self.mothername)
 
s1 = Son()
s1.name = 'Usman'
s1.fathername = "Altural"
s1.mothername = "Haima"
s1.show()

My Name :-  Usman
Father : Altural
Mother : Haima

In [491]:
class Date:
    def __init__(self,date):
        self.date = date    

class Time:
    def __init__(self,time):
        self.time = time

class timestamp(CurrentDate,CurrentTime):
    def __init__(self,date,time):
        CurrentDate.__init__(self,date)
        CurrentTime.__init__(self,time)
        DateTime = self.date + ' ' + self.time
        print(DateTime)
        
datetime1 = timestamp( '2024-30-03', '18:00:55')

NameError: name 'CurrentDate' is not defined

# Method Overriding

Overriding is a very important part of object oreinted programming because it makes
inheritance exploit its full power.

Overriding is the ability of a class (Sub Class / Child Class / Derived Class) to change the
implementation of a method provided by one of its parent classes.

When a method in a subclass has the same name, same parameter and same return type as
a method in its super-class, then the method in the subclass is said to override the method in
the super-class.

The version of a method that is executed will be determined by the object that is used to
invoke it.

If an object of a parent class is used to invoke the method, then the version in the parent class
will be executed, but if an object of the subclass is used to invoke the method, then the version in the child class will be executed.

In [492]:
class person: # Parent Class
    def __init__(self, name , age , gender):
        self.name = name
        self.age = age
        self.gender = gender

        
    def greet(self):
        print("Hello Person")

        
class student(person): # Child Class
    def __init__(self,name,age,gender,studentid,fees):
        person.__init__(self,name,age,gender)
        self.studentid = studentid
        self.fees = fees
    
    def greet(self):
        print("Hello Student")

stud = student('Ibrar' , 56 , 'Male' , 45 , 345678)
stud.greet() # greet() method defined in subclass will be triggered as "stud" is 
person1 = person('Ali' , 56 , 'Male')
person1.greet() # greet() method defined in superclass will be triggered

Hello Student
Hello Person

# Container

Containers are data structures that hold data values.

They support membership tests which means we can check whether a value exists in the
container or not.

Generally containers provide a way to access the contained objects and to iterate over them.

Examples of containers include tuple, list, set, dict, str

In [493]:
list1 = ['Mehr_Khan' , 'Israr' , 'Anwaar' , 'Ibrar']
'Israr' in list1 , 'Anwaar' not in list1 # Membership check using 'in' operator

(True, False)

In [494]:
assert 'Ibrar' in list1  # If the condition returns true the program does nothing

In [495]:
assert 'Ibrar1' in list1  # If the condition returns false, Assert will stop the program

AssertionError:

In [496]:
mydict = {'Name':'Anwaar_Ur_Rehman' , 'ID': 1728 , 'DOB': 1997 , 'Address' : 'Mianwali'}
mydict

{'Name': 'Anwaar_Ur_Rehman', 'ID': 1728, 'DOB': 1997, 'Address': 'Mianwali'}

In [497]:
'Anwaar' in mydict # Dictionary membership will always check the keys

False

In [498]:
'Name' in mydict # Dictionary membership will always check the keys

True

In [499]:
'DOB' in mydict

True

In [500]:
mystr = 'asifbhat'
'as' in mystr  # Check if substring is present

True

#  Iterable & Iterator

An iterable is an object that can be iterated upon. 

It can return an iterator object with the purpose of traversing through all the elements of an iterable.

An iterable object implements __iter()__ which is expected to return an iterator object.

The iterator object uses the __next()__ method.

Every time next() is called next element in the iterator stream is returned. 

When there are no more elements available StopIteration exception is encountered.

So any object that has a __next()__ method is called an iterator.

Python lists, tuples, dictionaries and sets are all examples of iterable objects.

In [501]:
mylist = ['Mehr_Khan' , 'Israr' , 'Anwaar' , 'Ibrar']
list_iter = iter(mylist) # Create an iterator object using iter()

print(next(list_iter))  # return first element in the iterator stream
print(next(list_iter))  # return next element in the iterator stream
print(next(list_iter))
print(next(list_iter))

Mehr_Khan
Israr
Anwaar
Ibrar

In [502]:
mylist = ['Mehr_Khan' , 'Israr' , 'Anwaar' , 'Ibrar']
list_iter = iter(mylist)     # Create an iterator object using iter()

print(list_iter.__next__())  # return first element in the iterator stream
print(list_iter.__next__())  # return next element in the iterator stream
print(list_iter.__next__())
print(list_iter.__next__())

Mehr_Khan
Israr
Anwaar
Ibrar

In [503]:
mylist = ['Mehr_Khan' , 'Israr' , 'Anwaar' , 'Ibrar']
list_iter = iter(mylist)  # Create an iterator object using iter()    
for i in list_iter:
    print(i)

Mehr_Khan
Israr
Anwaar
Ibrar

In [504]:
# Looping Through an Iterable (list) using for loop
mylist = ['Mehr_Khan' , 'Israr' , 'Anwaar' , 'Ibrar']
for i in mylist:
    print(i)

Mehr_Khan
Israr
Anwaar
Ibrar

In [505]:
# Looping Through an Iterable (tuple) using for loop
mytuple = ('Mehr_Khan' , 'Israr' , 'Anwaar' , 'Ibrar')
for i in mytuple:
    print(i)

Mehr_Khan
Israr
Anwaar
Ibrar

In [506]:
# Looping Through an Iterable (string) using for loop
mystr = "Hello Python"
for i in mystr:
    print(i)

H
e
l
l
o

P
y
t
h
o
n

In [507]:
# This iterator produces all natural numbers from 1 to 10.
class myiter:
    def __init__(self):
        self.num = 0
     
    def __iter__(self):
        self.num = 1
        return self
     
    def __next__(self):
        if self.num <= 10:
            val = self.num
            self.num += 1
            return val
        else:
            raise StopIteration
 
mynum = myiter()
iter1 = iter(mynum)
for i in iter1:
    print(i)

1
2
3
4
5
6
7
8
9
10

In [508]:
# This iterator will produce odd numbers
class myiter:
    def __init__(self):
        self.num = 0
     
    def __iter__(self):
        self.num = 1
        return self
     
    def __next__(self):
        if self.num <= 20 :
            val = self.num
            self.num += 2
            return val
        else:
            raise StopIteration
 
myodd = myiter()
iter1 = iter(myodd)
for i in iter1:
    print(i)

1
3
5
7
9
11
13
15
17
19

In [509]:
 # This iterator will produce fibonacci numbers
class myfibonacci:
    def __init__(self):
        self.prev = 0
        self.cur = 0
    def __iter__(self):
        self.prev = 0
        self.cur = 1
        return self
    def __next__(self):
        if self.cur <= 50:
            val = self.cur
            self.cur += self.prev
            self.prev = val
            return val
        else:
            raise StopIteration
    
myfibo = myfibonacci()
iter1 = iter(myfibo)
for i in iter1:
    print(i)

1
1
2
3
5
8
13
21
34

# Generator

Python generators are easy way of creating iterators. It generates values one at a time from a
given sequence instead of returning the entire sequence at once.

It is a special type of function which returns an iterator object.

In a generator function, a yield statement is used rather than a return statement.

The generator function cannot include the return keyword. If we include it then it will terminate
the execution of the function.

The difference between yield and return is that once yield returns a value the function is
paused and the control is transferred to the caller.Local variables and their states are
remembered between successive calls.
In case of the return statement value is returned and the execution of the function is terminated.

Methods like iter() and next() are implemented automatically in generator function.

Simple generators can be easily created using generator expressions. Generator
expressions create anonymous generator functions like lambda.

The syntax for generator expression is similar to that of a list comprehension but the only
difference is square brackets are replaced with round parentheses. Also list comprehension
produces the entire list while the generator expression produces one item at a time which is
more memory efficient than list comprehension.

In [510]:
 # Simple generator function that will generate numbers from 1 to 5.
def mygen():
    n = 1
    yield n
    n += 1
    yield n
    n += 1
    yield n
    n += 1
    yield n
    n += 1
    yield n

mygen1 = mygen()


print(next(mygen1))
print(next(mygen1))
print(next(mygen1))
print(next(mygen1))
print(next(mygen1)) #Function will terminate here as all 5 values have been retur
print(next(mygen1)) # As function is already terminated, StopIteration is raised

1
2
3
4
5

StopIteration:

In [511]:
# Simple generator function that will generate natural numbers from 1 to 20.
def mygen():
    for i in range(1,20):
        yield i
 
    
mygen1 = mygen()
 
for i in mygen1:
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [512]:
num = list(mygen()) # Store all values generated by generator function in a list
num

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [513]:
# Simple generator function that will generate even numbers from 1 to 20.
def mygen():
    for i in range(1,20):
        if i%2 == 0:
            yield i
 
    
mygen1 = mygen()
 
for i in mygen1:
    print(i)

2
4
6
8
10
12
14
16
18

In [514]:
# This Generator function will generate ten numbers of fibonacci series.
def myfibo():
    num1 , num2 = 0,1
    count = 0
    while count < 10:
            yield num1
            num1,num2 = num2,num1+num2
            count+=1
 
            
fibo = myfibo()
 
for i in fibo:
    print(i)

0
1
1
2
3
5
8
13
21
34

In [515]:
list1 = list(myfibo()) # Store the fibonacci series in a list
list1

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [516]:
list2 = [i**2 for i in range(10)]  # List comprehension
list2

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [517]:
gen2 = (i**2 for i in range(10)) # Generator expression
gen2

In [518]:
print(next(gen2))
print(next(gen2))
print(next(gen2))
print(next(gen2))
print(next(gen2))

0
1
4
9
16

In [519]:
gen2 = (i for i in range(40) if i%2 == 0) # Generator expression to generate even
gen2

for i in gen2:
    print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38

#  Decorator

Decorator is very powerful and useful tool in Python as it allows us to wrap another function in
order to extend the behavior of wrapped function without permanently modifying it.

In Decorators functions are taken as the argument into another function and then called inside the
wrapper function.

#### Advantages

Logging & debugging

Access control and authentication

In [520]:
def subtract(num1 , num2):
    res = num1 - num2
    print('Result is :- ', res)
subtract(4,2)
subtract(2,4)

Result is :-  2
Result is :-  -2

In [521]:
 ''' We now want subtract() function to always subtract lower number from higher o
    So when we pass (2,4) it should perform 4-2 not 2-4. To acheive this we will'''
    
def sub_decorator(func):
    def wrapper(num1,num2):
        if num1 < num2:
            num1,num2 = num2,num1
            return func(num1,num2)
    return wrapper
sub = sub_decorator(subtract)
sub(2,4)

Result is :-  2

In [522]:
@sub_decorator   # we can use @ syntax for decorating a function in one step
def subtract(num1 , num2):
    res = num1 - num2
    print('Result is :- ', res)
subtract(2,4)

Result is :-  2

In [523]:
def InstallLinux():
    print('Linux installation has started \n')
    
def InstallWindows():
    print('Windows installation has started \n')

def InstallMac():
    print('Mac installation has started \n')

    
InstallLinux()
InstallWindows()
InstallMac()
print()

''' Now suppose if we want to print message :- "Please accept terms & conditions"
    then easy way will be to create one decorator function which will present this '''


def InstallDecorator(func):
    def wrapper():
        print('Please accept terms & conditions')
        return func()
    return wrapper()


@InstallDecorator  # we can use @ syntax for decorating a function in one step

def InstallLinux():
    print('Linux installation has started \n')

@InstallDecorator
def InstallWindows():
    print('Windows installation has started \n ')
 
@InstallDecorator
def InstallMac():
    print('Mac installation has started \n')

Linux installation has started

Windows installation has started

Mac installation has started


Please accept terms & conditions
Linux installation has started

Please accept terms & conditions
Windows installation has started

Please accept terms & conditions
Mac installation has started

In [524]:
# Apply multiple decorator on a single function

def InstallDecorator1(func):
    def wrapper():
        print('Please accept terms & conditions...\n')
        func()
    return wrapper

def InstallDecorator2(func):
    def wrapper():
        print('Please enter correct license key...\n')
        return func()
    return wrapper

def InstallDecorator3(func):
    def wrapper():
        print('Please enter partitioning choice...\n')
        return func()
    return wrapper

@InstallDecorator1
@InstallDecorator2
@InstallDecorator3

def InstallLinux():
    print('Linux installation has started \n')
        
InstallLinux()

Please accept terms & conditions...

Please enter correct license key...

Please enter partitioning choice...

Linux installation has started

# THE END